# Database Creation   

In this part both pandas and SQL will be used. The schema has already been created with MySQL Workbench.

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.set_style("darkgrid")
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (15, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

import warnings
warnings.simplefilter(action='ignore')  

import sqlalchemy 
from sqlalchemy import create_engine

## Importing Data

In [2]:
path = "C:/Users/FLAVIO/OneDrive/Desktop/Data_Analysis/Fanta_2024/"

team_stats = pd.read_csv(path+'team_general_stats.csv')  

players_stats = pd.read_csv(path+'players_stats.csv').drop(columns=['Rk', 'Matches'])
def_stats = pd.read_csv(path+'defensive_stats.csv').drop(columns=['Rk', 'Matches'])
pass_stats = pd.read_csv(path+'passing_stats.csv').drop(columns=['Rk', 'Matches'])
shoot_stats = pd.read_csv(path+'shooting_stats.csv').drop(columns=['Rk', 'Matches'])

## Adding Data to Database

In this section some features will be added, like the player_id and team_id columns which will be primary keys in the database.

In [3]:
# Changing "Nation" feature 

dfs = [players_stats, def_stats, pass_stats, shoot_stats]

for x in dfs:
    x['Nation'] = x.Nation.str.findall("[A-Z]+").explode()

In [4]:
# Defining the connection string  
connection_string = 'mysql+pymysql://root:password@localhost:3306/seriea_2022_2023' 

# Creating the engine 
engine = create_engine(connection_string)

In [5]:
id_df = team_stats.reset_index().rename(columns={'index':'team_id'})[['team_id', 'Squad']] 
id_df.head()

   team_id       Squad
0        0    Atalanta
1        1     Bologna
2        2   Cremonese
3        3      Empoli
4        4  Fiorentina

In [6]:
id_dictionary = {} 

for tid, sq in zip(id_df.team_id, id_df.Squad):
    id_dictionary[sq] = tid 

id_dictionary

{'Atalanta': 0,
 'Bologna': 1,
 'Cremonese': 2,
 'Empoli': 3,
 'Fiorentina': 4,
 'Hellas Verona': 5,
 'Inter': 6,
 'Juventus': 7,
 'Lazio': 8,
 'Lecce': 9,
 'Milan': 10,
 'Monza': 11,
 'Napoli': 12,
 'Roma': 13,
 'Salernitana': 14,
 'Sampdoria': 15,
 'Sassuolo': 16,
 'Spezia': 17,
 'Torino': 18,
 'Udinese': 19}

In [7]:
for x in dfs:
    x['Squad'] = x.Squad.map(id_dictionary)

In [8]:
team_id_df = team_stats[['Squad']].reset_index().rename(columns={'index':'team_id'})
player_id_df = players_stats[['Player']].reset_index().rename(columns={'index':'player_id'})

In [9]:
team_id_df.to_sql('teams', engine, index=False) 
player_id_df.to_sql('players', engine, index=False) 
pass_stats.to_sql('pl_passing_stats', engine, index_label='player_id') 
shoot_stats.to_sql('pl_shooting_stats', engine, index_label='player_id') 
def_stats.to_sql('pl_defensive_stats', engine, index_label='player_id')  

team_stats.drop(columns='Squad').to_sql('teams_general_stats', engine, index_label='team_id') 
players_stats.drop(columns='Player').to_sql('players_general_stats', engine, index_label='player_id')

603